body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    background: #E5E5E5;
    width: 100%;
    overflow-x: hidden;
}

h1, ul, li, button {
    flex: none;
    order: 0;
    flex-grow: 0;
}

p {
    flex: none;
    order: 1;
    flex-grow: 0;
}

span.order1 {
    flex: none;
    order: 1;
    flex-grow: 0; 
}
span.order2 {
    flex: none;
    order: 3;
    flex-grow: 0; 
}

.humbarger {
    display: none;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}


/* HEADER */
header {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/Header\ bg@2x.png) ;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    border-bottom-left-radius: 150px;
    background-color: white;
    
    
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.logo {
    margin-left: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070FF;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-right: 70px;
}


nav ul li {
   padding-right: 50px;
   font-weight: 500;
   font-size: 15px;
   line-height: 20px;
   color: #344563;

}

nav .fa-bars {
    display: none;
}

/* Header Content */
.header-content {
    display: flex;
    justify-content: center;
    padding: 10rem;
    
}

.header-content h1 {
    width: 500px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #091E42;
}

.header-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
}

.connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;

}

.intro-content {
    margin: 0 200px;
    
}

.social-media ul {

    list-style-type: none;
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.social-media ul li i {
    font-weight: 700;
    font-size: 20px;
    
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   

}

.main-tonic:hover{
    border: 2px solid #acb4fa;
    cursor: pointer;
    margin: 98px 98px 0 98px;
    box-shadow: 2px 20px 15px rgb(227, 225, 225);
}

.main-tonic:hover .project-btn{
    background: blue;
    color: white;
}


.main-tonic {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
    transition: box-shadow all ease-in-out 0.6s;

}

.main-tonic .right {
    flex: 1fr;
    padding: 24px;
    margin: 7px;
    background-color: white;
    

}

.main-tonic .right img {
    width: 100%;

}

.main-tonic .left {
    flex: 1fr;
    padding: 15px;
    padding-right: 30px;
    margin: 7px;
    background-color: white;


}

.main-tonic .left h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091E42;

}

.main-tonic .left ul {
    list-style-type: none;
    display: flex;
    padding: 0;

}

.main-tonic .left ul li {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    padding-right: 10px;
}

.main-tonic .left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;

}

.main-tonic .left .skills {
    list-style-type: none;

}

.main-tonic .left .skills ul li{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070FF;
    letter-spacing: 0.03em;
    padding: 5px;
    margin-right: 5px;
    background: #EBEBFF;
    border-radius: 5px;
    

}

.main-tonic .left button {
    color: #396DF2;
    background: #EBEBFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 7px;

}

/* -------MAIN 2---------- */

.main-tonic .left .project-btn {
    color: #4053FC;
    background-color: white;
    border: 1px solid #4053FC;
    box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
}

#last-main-container {
    margin-bottom: 100px;
}


/* about and footer*/

.about-footer {
    display: flex;
    flex-direction: column;
    background-color: white;

}
.about-container{
    display: flex;
    justify-content: space-around;
    border-top-right-radius:150px;
    background-color: white;
    margin-bottom: 100px;
    

}

.about-left {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    flex: 40%;

}

.about-left h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091E42;

}

.about-left p{

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
}

.about-left ul li i {

    font-weight: 700;
    font-size: 20px;
}


.about-right {
    flex: 60%;
    background-color: white;
    padding: 100px 40px 0 0;
    border-top-right-radius:100px;
    

}

.about-right select {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgb(167, 167, 167);
    outline: none;
}


.about-right .language-icons {
    display: flex;
}

.about-right .same {
    width: 122px;
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.about-right .language-icons img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px 0 10px 0;
}


.about-right .language-btn, 
.framework-btn, .skill-btn{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563; 
     

}

.about-right .framework-btn {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.about-right .language-btn {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.about-right .skill-btn {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6070FF;
    border-top-left-radius:150px ;
    padding: 100px;
    
    
}

footer h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: white;
    
}

footer p {
    padding: 0 350px;
    margin-top: -20px;
    text-align: center;
    order: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: white;
}

footer input {
    padding: 15px 230px 15px 10px;
    margin: 10px 0;
    border-radius: 2px;
    border: none;
    
    
}

footer textarea {
    padding: 20px 162px 0px 10px;
    resize: none;
    border-radius: 2px;
    border: none;
}

footer button {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #6070FF;
    padding: 12px 16px;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}






/*------------Media Query------------*/
@media screen and (max-width: 1440px){


}


@media screen and (max-width:900px) {

   
}

@media screen and (max-width: 768px) {
   
  
}

@media screen and (max-width: 330px) {

    header {
        justify-content: space-between;
        overflow-x: hidden;
        border-bottom-left-radius: 100px;
        
    }

    .logo {
        margin-left: 0;
    }

    nav ul {
        display: none;
    }
    nav ul li {
        background: #505F79;
    }

    nav .fa-bars {
        display: inline;
        color: #6070FF;
    }

    .header-content {
        margin: 0;
        padding: 0;

    }

    .header-content h1 {
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 0;
        margin-top: 70px;
        padding: 0;
    }

    .header-content p {
        width: 100%;
        margin-top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .header-content .connect {
        width: 100%;
    }

    .header-content .social-media {
        width: 100%;
        margin-top: 0;
        margin-bottom: 100px;
    }


    .header-content .intro-content {
        margin: 0;
        width: 280px;
    }

    .main-tonic {
        overflow-x: hidden;
        flex-direction: column;
        padding: 0;
        margin-top: 70px;
        
    }

    .main-tonic .right {
        padding: 16px;

    }

    .main-tonic .right h1, .left h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        margin-top: 0;
    }

    .main-tonic .right ul li,
    .main-tonic .left ul li {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
    }

    .main-tonic .left {
        
        padding: 15px;
        padding-right: 30px;
    }

    .main-tonic .right{
        border-radius: 10px 10px 0 0;
    }
    .main-tonic .left {
        border-radius: 0 0 10px 10px;
       
    }

    .main-tonic-1,
    .main-tonic-3 {
        margin-left: 10px;
        margin-right: 15px;
          
    }

    .main-tonic-2 .left,
    .main-tonic-4 .left {
        border-radius: 10px 10px 0 0;

    }

    .main-tonic-2 .right,
    .main-tonic-4 .right {
        border-radius: 0 0 10px 10px;
        margin-right: 15px;

    }

    .main-tonic .left .project-btn {
        background: white;
        margin-top: 0;
        color: #396DF2;
        box-shadow: none;
        border: 1px solid #396DF2;;
    }

    .about-footer {
        overflow-x: hidden;
    }

    .about-container {
        flex-direction: column;
    }

    .about-left {
       
        justify-content: center;
    }

    .about-left,
    .about-right {
        padding: 10px 20px;
    }

    .about-left h1 {
        margin-bottom: 0;
    }

    .about-right .language-icons {
        flex-direction: column;
       position: relative;
    }

    .skill-desc {
        position: relative;
        bottom: 42px;
        left: 70px;
    }

    .about-right .language-icons img {
        width: 50px;
        height: 50px;
    }

    .about-right .same {
        width: 100%;
        height: 70px;
        margin-bottom: 10px;
        background: #F7F7F9;
    }

    footer {
        margin: 0;
        padding: 20px;
        position: relative;
        border-top-left-radius: 80px;
    }

    footer h1{
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 100px;
        text-align: center;
        
    }



    footer input{
        margin: 0;
        padding: 20px 100px 20px 10px;
        margin-bottom: 30px;
        margin: 0 10px 20px 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        
    }

    footer #first-child {
        margin-top: 150px;
    }

    footer textarea{
        margin: 0;
        padding: 10px 40px 0 10px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        border-radius: 10px;
        
    }

    footer p{
        margin: 0;
        padding: 0 100px 0 15px;
        width: 88%;
        position: absolute;
        left: 10px;
        top: 180px;
        
        
    }

    footer button {
        margin: 0;
        margin-left: -150px;
    }



    
}

